# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.idea/
.vscode/

# Excel temp lock files
~$*.xlsx
